<!--
    Describe: 相册上传首页
    Created by ZhuYuan on 2017-03-10 23:03
-->

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>上传相片</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css"/>
    <!--[if lt IE 9]>
        <script src="js/ie/html5shiv.min.js"></script>
        <script src="js/ie/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<nav id="nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> 全部相册</a></li>
                <li><a href="/up"><span class="glyphicon glyphicon-arrow-up"></span> 上传</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="content" class="container mt">
    <div class="row">
        <% for(var i = 0;i < folder.length; i++){%>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <a href="<%=folder[i]%>" class="thumbnail">
                    <img src="images/folderIcon.png " alt="相册文件夹" class="img-rounded">
                </a>
                <div class="caption text-center">
                    <h4><%=folder[i]%></h4>
                </div>
            </div>
        <% }%>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>